# History files
.Rhistory

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# redirect app
redirect_app/

# Shiny files
rsconnect/
.Rproj.user

# IPDS Review
ipds_review/

# Help Literature
help/
Shiny_SOP.docx

# Misc Files
