# History files
.Rhistory

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
global.R
ui.R
server.R

# Shiny files
rsconnect/
.Rproj.user

# Data files
data/

# Photoshop files
logo/
www/usgs_banner_gr_name.psd
