# History files
.Rhistory

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# redirect app
redirect_app/

# Shiny files
rsconnect/
.Rproj.user

# data prep
data_prep/
ipds_review/
help/
Shiny_SOP.docx